.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.socials {
  display: flex;
  gap: 8px;
}

.link {
  text-decoration: none;
  color: #ffffffde;
}

.link:hover {
  text-decoration: underline;
}

.noodle {
  image-rendering: pixelated;
  width: 456px;
  height: 309px;
}
