.introContainer {
  overflow: hidden;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.introContent {
  height: min(100vw, 600px);
  padding: 0 2%;
  margin: 0px auto;
  position: relative;
  max-width: var(--max-content-width);
}

.introContentText {
  position: absolute;
  padding-left: 24px;
}

.introNoodleImage {
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.noodleImage {
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(15%);
}

.noodleImageShadow {
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(18%);
}